@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");


.tittle{
    font-family: "Cookie", cursive;
    display: flex;
    justify-content: center;
    font-size: 10rem;
    background-color: #6D2932;
    color: #E8D8C0;
    width: 100%;

}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#carouselSlidesy{
    width: 90%;
    height: 650px;
}
#carrouselImg{
    width: 90%;
    height: 650px;
}